@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;}

.secWrap{width: 1920px;height: 1300px;background-color: aqua;}
.sec01{height: 798px;background-color: pink;padding: 72px 0 96px;}
.sec01>.layOut{width: 1280px; height: 116px;background-color: orange;margin-bottom: 32px;}
.sec01 h2{font-size: 40px;text-align: center;display: inline-block;}
.sec01 h2>span{font-size: 12px;letter-spacing: 0.4em;display: block;font-weight: 500;}
.sec01 ul{height: 54px;background-color: gray;margin-top: -15px;}
.sec01 li{float: right;border-top: 1px solid #00a9e0;margin-left: 21px;}
.sec01 li>a{color: #666;line-height: 54px;}

.sec01 .slideWrap{width: 1280px;height: 433px;background-color: #e1dacf;}
.sec01 .slideWrap>.infoTxt{width: 504px;height: 433px;padding: 55px 50px;background-color: skyblue;display: inline-block;line-height: 40px;}
.infoTxt .type{color: #666;font-weight: 300;}
.infoTxt h3{font-size: 28px;margin-bottom: 50px;}
.infoTxt .title{font-size: 20px;color: #888;display: inline-block;margin-right: 60px;}
.infoTxt p{font-size: 20px;letter-spacing: -2px;color: #222;}

