@charset "utf-8";

.newsWrap{height: 436px;background-color: #eae8e7;}
.news{width: 1280px;margin: 0 auto;padding: 77px 0;}
.newsText h6{letter-spacing: 0.4em;font-size: 12px; padding: 0 5px;}
.newsBox{background-color: #575757;width: 116px;height: 116px;}
.newsBox h2{font-size: 40px;color: #ffffff;text-align:center;padding: 30px 0;}

.storyMore{padding: 39px 12px;}
.storyMore p{font-size: 14px;color: #666665;}
.storyMore img{padding: 15px 12px}

.list{}
.list li{ float: left;background-color: #fff;margin-right: 30px;padding: 0 30px}
/* .list li:first-child{margin-left: 162px;}
.list li h3{font-size: 22px;color: #000;margin-bottom: 25px;}
.list li p{font-size: 16px;line-height: 30px;} */

.company{height: 150px;
    display: flex;justify-content: center;align-items: center; }
.company img{position: absolute;}
.company li{border: 1px solid #cccccc; margin-right: 20px;
    padding: 30px 0;position: relative;width: 233px;float: left;
    background-position: center;background-repeat: no-repeat;}

.footerWrap{height: 274px;background-color: #394553;padding: 40px 322px;}
.menu{float: right;}
.menu li{float: left;position: relative; bottom: 50px;}
.menu li a{color: #FFF;font-size: 14px; margin-right: 20px;}
.menu li:after{content:"";display: block;width: 1px;height: 11px;background: #ffffff;
    position: absolute;top: 7px;right: 9px;}
.menu li:last-child:after{display: none;}
.line01{border: 1px solid #fff; margin-top: 12px;}





.footer{padding: 43px 0;position: relative;}
.footer p{font-size: 12px;color: #999;line-height: 24px;float: left;}

.footer a{width: 420px;
    display: block;  position: absolute; right: -220px;
    color: rgb(255, 255, 255);font-size: 15px; 
    letter-spacing: -1px;  }
.footer a:after{content:"";display: block;width: 196px; right: 0;
                border: 1px solid #fff; margin-top:15px;}


            



